<template>
  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">

          <div class="card">
            <div class="card-header">Assign Student:Grade</div>
            <div class="card-body">


              <div class="row">

                <div class="col">
                  <div class="input-group mb-3">
                    <label for="field_student_name" class="sr-only">Student</label>
                    <input id="field_student_name" type="text" class="form-control" readonly placeholder="Selected student" :value="selectedStudentLabel">
                    <div class="input-group-append">
                      <button id="btn_open_select_student_modal" class="btn btn-secondary" type="button">Select student</button>
                    </div>
                  </div>
                </div>


              </div><!--row-->

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="field_grade">Grade</label>
                    <select name="" id="field_grade" class="form-control" v-model="studentGrade.selectedGrade">
                      <option v-for="item in grades" :key="item.id" :value="item.id">{{ item.grade_name }}</option>
                    </select>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="field_year">Academic Year</label>
                    <input type="number" id="field_year" class="form-control" v-model="studentGrade.academicYear">
                  </div>
                </div>

              </div><!--row-->

              <div class="row mb-2">
                <div class="col text-right">
                  <button type="button" class="btn btn-success" :disabled="!isValid" @click="insert">Save</button>
                </div>
              </div>

              <div v-if="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- Modal: Select student -->
    <div class="modal fade" id="modal_select_student" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">Search for {{ searchQuery }}</div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form_search_students">

              <div class="input-group mb-3">
                <label for="form_search_query" class="sr-only">Search query</label>
                <input id="form_search_query"
                       type="text" class="form-control"
                       v-model="searchQuery"
                       @input="searchStudents"
                       placeholder="Search for admission id and names"
                       autocomplete="off">

                <div class="input-group-append">
                  <button id="form_search_btn_search" class="btn btn-secondary" type="button" @click="searchStudents">Search</button>
                </div>
              </div>

              <div id="search_results">

                <table v-if="searchResults" class="table table-sm table-bordered table-striped">

                  <thead>
                  <tr>
                    <th>Student</th>
                    <th>Action</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr v-for="item in searchResults" :key="item.id">
                    <td>{{ item.first_name }} {{ item.last_name }} ({{ item.admission_number }})</td>
                    <td>
                      <button class="btn btn-success btn-tiny" type="button" @click="selectStudent(item)">Select</button>
                    </td>
                  </tr>
                  </tbody>

                </table>

                <p v-else>No students found for "{{ searchQuery }}"</p>

              </div>


            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddStudentGrade",
  data: function () {
    return {
      studentGrade: {
        selectedStudent: null,
        selectedGrade: null,
        academicYear: moment().format('YYYY'),
      },
      grades: null,
      searchQuery: "",
      searchResults: null,
      errorMessage: "",
    }
  },

  computed: {
    selectedStudentLabel: function () {
      if (this.studentGrade.selectedStudent != null) {
        const firstName = this.studentGrade.selectedStudent.first_name;
        const lastName = this.studentGrade.selectedStudent.last_name;
        const admissionNumber = this.studentGrade.selectedStudent.admission_number;
        return `${firstName} ${lastName} (${admissionNumber})`;
      }
      return "";
    },

    isValid: function () {
      return this.studentGrade.selectedStudent != null && this.studentGrade.selectedGrade != null && this.studentGrade.academicYear !== "";

    }
  },

  mounted: function () {

    this.fetchGrades();

    $("#btn_open_select_student_modal").on('click', function () {
      $("#modal_select_student").modal('show');
    });


  },

  methods: {

    fetchGrades: function () {
      $.get(`${getSiteURL()}/api/get-grades.php`)
          .done(response => {

            this.grades = response.grades;

          })
          .fail(error => {
            console.log(error);
          });
    },


    searchStudents: _.debounce(function () {

      $.get(`${getSiteURL()}/api/get-students.php`, {
        q: this.searchQuery
      })
          .done(response => {
            this.searchResults = response.results;
          })
          .fail(error => {
            console.log(error);
          });

    }, 300),

    selectStudent: function (student) {
      this.studentGrade.selectedStudent = student;
      $("#modal_select_student").modal('hide');
    },

    insert: function () {

      $.post(`${getSiteURL()}/api/post-save-student-grade.php`, {
        student_id: this.studentGrade.selectedStudent.id,
        grade_id: this.studentGrade.selectedGrade,
        year: this.studentGrade.academicYear
      }).done(response => {

        console.log(response);

      }).fail(error => {
        this.errorMessage = "Error assigning student to an academic year";
      });


    },

  },
}
</script>

<style scoped>

</style>