<!--suppress ALL -->
<template>

  <div>

    <!--EDIT MODAL-->
    <div class="modal fade" id="editSectionModal" tabindex="-1" v-if="isSectionSelected">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit: {{ editingSection.section_name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label>Section name</label>
              <input type="text" class="form-control" v-model="editingSection.section_name">
            </div>

            <div class="form-group">
              <label>Order</label>
              <input type="number" class="form-control" v-model="editingSection._order">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
export default {
  name: "EditSection",
  props: ['section', 'eventBus'],

  data: function () {
    return {
      editingSection: {
        id: "",
        section_name: "",
        _order: ""
      },
    };
  },

  watch: {
    section: function (value) {
      this.editingSection = value;
    }
  },

  computed: {
    isSectionSelected: function () {
      if (this.editingSection !== null) return true;
      else return false;
    }
  },

  mounted() {
    this.eventBus.$on('show-edit-modal', () => {
      this.showModal();
    })
  },

  methods: {

    showModal: function () {
      $("#editSectionModal").modal("show");
    }

  }
}
</script>

<style scoped>

</style>