<template>

  <div>

    <div class="card">
      <div class="card-header">Sections</div>
      <div class="card-body">

        <table class="table table-bordered table-sm table-striped">
          <thead>
          <tr>
            <th>Section</th>
            <th>Order</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(section, index) in sections" :key="index">
            <td>{{ section.section_name }}</td>
            <td>{{ section._order }}</td>
            <td><button class="btn btn-tiny btn-warning" @click="clickEditSection(section)">Edit</button></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <EditSection :section="selectedSectionForEdit" :event-bus="eventBus"></EditSection>

  </div>

</template>

<script>

import EditSection from "./EditSection";
import Vue from "vue";

export default {
  name: "ListSections",
  components: {EditSection},

  props: ['sections', 'eventBus'],

  data: function () {
    return {
      selectedSectionForEdit: null,
    };
  },

  computed: {},

  mounted() {

  },

  methods: {

    clickEditSection: function (section) {
        this.selectedSectionForEdit = section;
        this.eventBus.$emit('show-edit-modal');
    },

  },
}
</script>

<style scoped>

</style>