<template>

  <div class="container">
    <div class="row">
      <div class="col-4">

        <div class="card">
          <div class="card-header">Add a section</div>
          <div class="card-body">

            <div class="form-group">
              <label for="field_section_name">Section name</label>
              <input type="text" id="field_section_name" class="form-control" v-model="section.section_name">
              <div class="invalid-feedback">Section name is required</div>
            </div>

            <div class="form-group">
              <label for="field_order">Order value</label>
              <input type="number" id="field_order" class="form-control" v-model="section._order">
            </div>

            <div class="text-right">
              <button class="btn btn-primary" id="btn_save_section" @click="save">Save</button>
            </div>

          </div>
        </div>

      </div>
      <!-- .col -->

      <div class="col-8">
        <ListSections :sections="existingSections" :event-bus="eventBus"></ListSections>
      </div>
      <!-- .col -->

    </div>
    <!-- .row-->

  </div>
  <!-- .container-->

</template>

<script>

import ListSections from "./ListSections";
import Vue from "vue";

export default {
  name: "ManageSections",
  components: {ListSections},
  data: function () {
    return {

      section: {
        section_name: "",
        _order: "1"
      },

      existingSections: [],

      eventBus: new Vue({}),
    };
  },

  computed: {
    //
  },

  mounted() {
    //

    this._getSections();

  },

  methods: {
    //

    save: function () {

      $.post(`${getSiteURL()}/api/post-save-section.php`, {
        'section_name': this.section.section_name,
        '_order': _.toInteger(this.section._order)
      }).done(response => {

        this._getSections();

      }).fail(error => {
        console.log(error.responseJSON.message);
        alert("Failed to save section");
      });

    },

    _getSections: function () {
      $.get(`${getSiteURL()}/api/get-sections.php`)
          .done(response => {

            this.existingSections = response.sections;

          })
          .fail(error => {
            alert("Failed to fetch sections");
          });
    },

  }
}
</script>

<style scoped>

</style>