@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

body {
    font-size: 15px;
    font-family: 'Sen', sans-serif;
}

.modal-title {
    font-size: 16px;
    font-weight: bold;
}

.btn-tiny {
    padding: .05rem .25rem;
    font-size: .675rem;
    line-height: 1.5;
    border-radius: .2rem;
    text-transform: uppercase;
}