<template>

  <div class="card">
    <div class="card-header">Add Subject</div>
    <div class="card-body">

      <div class="row">
        <div class="col">

          <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" v-model="subjectName">
          </div>

          <div class="text-right">
            <button type="button" class="btn btn-success" :disabled="!isValid" @click="save">Save</button>
          </div>

        </div>
      </div>

    </div>

  </div><!--card-->

</template>

<script>
export default {
  name: "AddSubject",
  props: ['event-bus'],

  data: function () {
    return {
      subjectName: '',
    };
  },

  computed: {
    isValid: function () {
      return this.subjectName !== '';
    }
  },

  mounted: function () {
    //
  },

  methods: {

    save: function () {

      $.post(`${getSiteURL()}/api/post-save-subject.php`, {
        subject: this.subjectName
      }).done(response => {

        this.eventBus.$emit('subject-saved');

      }).fail(error => {
        alert(error.responseJSON.message);
      });


    },

  }
}
</script>

<style scoped>

</style>