<template>
  <div>

    <div class="container">
      <div class="row">
        <div class="col">


          <div class="card">
            <div class="card-header">Edit Student - name of the student</div>
            <div class="card-body">

              <form id="form_register_student">

                <!--row-->
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="field_admission_date">Admission Date <span class="badge badge-danger">required</span></label>
                      <input type="date" id="field_admission_date" class="form-control" v-model="student.admission_date">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="field_admission_number">Admission Number <span class="badge badge-danger">required</span></label>
                      <input type="text" id="field_admission_number" class="form-control" :class="{'is-invalid': !isAdmissionNumberValid}" v-model="student.admission_number">
                    </div>
                  </div>
                </div>
                <!--row-->

                <div class="row">

                  <div class="col">
                    <div class="form-group">
                      <label for="field_first_name">First Name</label>
                      <input type="text" id="field_first_name" class="form-control" :class="{'is-invalid': !isFirstNameValid}" v-model.trim="student.first_name">
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group">
                      <label for="field_last_name">Last Name</label>
                      <input type="text" id="field_last_name" class="form-control" v-model="student.last_name">
                    </div>
                  </div>

                </div>
                <!--row-->


                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="field_date_of_birth">Date of Birth</label>
                      <input type="date" id="field_date_of_birth" class="form-control" v-model="student.date_of_birth">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="field_gender">Gender</label>
                      <select name="title" id="field_gender" class="form-control" v-model="student.gender">
                        <option disabled value="">SELECT</option>
                        <option v-for="(item, index) in GENDER" :value="index">{{ item }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="field_nationality">Nationality</label>
                      <select name="title" id="field_nationality" class="form-control" v-model="student.nationality">
                        <option disabled value="">SELECT</option>
                        <option v-for="(item, index) in NATIONALITY" :value="index">{{ item }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="field_religion">Religion</label>
                      <select name="title" id="field_religion" class="form-control" v-model="student.religion">
                        <option disabled value="">SELECT</option>
                        <option v-for="(item, index) in RELIGION" :value="index">{{ item }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--row-->


                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="field_address">Address</label>
                      <textarea id="field_address" rows="5" class="form-control" v-model="student.address"></textarea>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group">
                      <label for="field_contact_number">Contact Number</label>
                      <input type="number" id="field_contact_number" class="form-control" v-model="student.contact_number">
                    </div>
                  </div>

                </div>
                <!--row-->

                <div class="row">

                  <div class="col">
                    <div class="form-group">
                      <label for="field_bc_number">Birth Certificate Number</label>
                      <input type="text" id="field_bc_number" class="form-control" v-model="student.bc_number">
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group">
                      <label for="field_bc_division">Birth Certificate Division</label>
                      <input type="text" id="field_bc_division" class="form-control" v-model="student.bc_division">
                    </div>
                  </div>

                </div>


                <div class="text-right">
                  <button type="button" class="btn btn-primary" :disabled="!isValidForm" @click="updateStudent">Update Student</button>
                </div>

              </form>

            </div>

          </div>


        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "EditStudent",
  data: function () {
    return {

      selectedStudentId: null,

      student: {
        id: "",
        admission_date: "",
        admission_number: "",
        first_name: "",
        last_name: "",
        date_of_birth: "",
        gender: "",
        nationality: "",
        religion: "",
        address: "",
        contact_number: "",
        bc_number: "",
        bc_division: "",
      },

      /*
      * CONSTANTS ------------------
      * */
      GENDER: {
        'M': 'Male',
        'F': 'Female'
      },
      NATIONALITY: {
        'SRILANKAN': 'Sri Lankan',
        'NONSRILANKAN': 'Non Sri Lankan',
      },
      RELIGION: {
        'HINDUISM': 'Hinduism',
        'CHRISTIANITY': 'Christianity',
        'CATHOLIC': 'Catholic',
        'ISLAM': 'Islam',
        'BUDDHISM': 'Buddhism',
        'OTHER': 'Other',
      },

    };
  },

  computed: {
    isFirstNameValid: function () {
      return this.student.first_name !== "";
    },

    isAdmissionNumberValid: function () {
      const len = this.student.admission_number.length;
      return len === 6;

    },

    isValidForm: function () {

      if (this.student.admission_number === "") return false;
      if (this.student.first_name === "") return false;

      return true;
    },
  },
  mounted: function () {
    //
    this.selectedStudentId = $("#field-student-id").val();
    this.fetchStudentData();

  },
  methods: {
    //

    updateStudent: function () {
      $.post(`${getSiteURL()}/api/post-update-student.php`, {
        id: this.student.id,
        admission_date: this.student.admission_date,
        admission_number: this.student.admission_number,
        first_name: this.student.first_name,
        last_name: this.student.last_name,
        date_of_birth: this.student.date_of_birth,
        gender: this.student.gender,
        nationality: this.student.nationality,
        religion: this.student.religion,
        address: this.student.address,
        contact_number: this.student.contact_number,
        bc_number: this.student.bc_number,
        bc_division: this.student.bc_division,
      }).done(response => {

        alert("Student record updated.");

      }).fail(error => {
        console.log(error.responseJSON.message);
      });
    },


    fetchStudentData: function () {

      $.get(`${getSiteURL()}/api/get-student.php`, {
        id: this.selectedStudentId
      }).done(response => {

        this.student = response.student;

      }).fail(error => {
        console.log(error.responseJSON.message);
      })

    }

  }

}
</script>

<style scoped>

</style>