<template>

  <div>

    <div class="card">
      <div class="card-header">Add subjects group</div>
      <div class="card-body">

        <div class="form-group">
          <label>Subjects Group Name</label>
          <input type="text" class="form-control" v-model="subjectsGroup.subjects_group_name">
        </div>

        <div class="text-right">
          <button class="btn btn-primary" @click="clickSave">Save</button>
        </div>

      </div>
    </div><!-- card -->

  </div>

</template>

<script>
export default {
  name: "AddSubjectsGroup",
  props: ['eventBus',],

  data() {
    return {
      subjectsGroup: {
        subjects_group_name: "",
      }
    }
  },

  mounted() {

  },

  computed: {},

  methods: {

    clickSave() {

      $.post(`${getSiteURL()}/api/post-save-subjects-group.php`, {
        subjects_group_name: this.subjectsGroup.subjects_group_name,
      }).done(response => {
        this.eventBus.$emit('subjects-group-added');
      }).fail(error => {
        console.log(error.responseJSON.message);
      })

    }

  },

}

</script>

<style scoped>

</style>