<template>

  <div>

    <div class="card">
      <div class="card-header">Subjects Groups</div>
      <div class="card-body">

        <table class="table table-bordered table-striped table-sm">
          <tbody>
          <tr v-for="(item, index) in subjectsGroups" :key="index">
            <td>
              <div>{{ item.subjectGroup.subjects_group_name }}</div>

              <div>
                <ul>

                </ul>
              </div>

            </td>
            <td>
              <button class="btn btn-tiny btn-success" @click="openAddSubjectsModal(item)">Add subjects</button>
            </td>
          </tr>
          </tbody>

        </table>

      </div>
    </div><!-- card -->


    <!--ADD SUBJECTS MODAL-->
    <div class="modal fade" id="addSubjectsModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-if="selectedSubjectsGroup.subjectsGroup">Add Subjects : {{ selectedSubjectsGroup.subjectsGroup.subjects_group_name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <table class="table table-bordered table-sm">
              <tbody>
              <tr v-for="item in subjects">
                <td>{{ item.subject }}</td>
                <td class="text-center">
                  <span v-if="! isSubjectInSelectedSubjectsGroup(item)">
                    <button class="btn btn-tiny btn-primary" @click="saveSubjectInSubjectsGroup(item)">ADD</button>
                  </span>
                  <span v-else>
                    <button class="btn btn-tiny btn-warning" @click="removeSubjectInSubjectsGroup(item)">REMOVE</button>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
export default {
  name: "ListSubjectsGroups",
  props: ['eventBus'],

  data() {
    return {
      subjectsGroups: [],
      subjects: [],
      selectedSubjectsGroup: {
        subjectsGroup: undefined,
        subjects: [],
      },
    };
  },

  computed: {},

  mounted() {
    //
    this.fetch();
    this.fetchAllSubjects();

    this.eventBus.$on('subjects-group-added', this.fetch);

  },

  methods: {

    openAddSubjectsModal(subjectsGroup) {
      this.selectedSubjectsGroup.subjectsGroup = subjectsGroup;
      this.fetchSubjectsInSubjectsGroup(this.selectedSubjectsGroup.subjectsGroup);
      $("#addSubjectsModal").modal("show");
    },


    isSubjectInSelectedSubjectsGroup(subject) {
      const result = _.find(this.selectedSubjectsGroup.subjects, function (o) {
        return o.id === subject.id;
      });

      return result != null;

    },

    fetch() {
      $.get(`${getSiteURL()}/api/get-subjects-groups.php`)
          .done(response => {

            let subjectsGroups = response.subjects_groups;

            for (const item of subjectsGroups) {
              let subjects = this.fetchSubjectsInSubjectsGroup(item);
              this.subjectsGroups.push({
                'subjectGroup': item,
                'subjects': subjects
              });
            }

          })
          .fail(error => {
            console.log(error.responseJSON.message);
          });
    },

    fetchAllSubjects() {

      $.get(`${getSiteURL()}/api/get-subjects.php`)
          .done(response => {

            this.subjects = response.subjects;

          })
          .fail(error => {
            console.log(error.responseJSON.message);
          });

    },

    fetchSubjectsInSubjectsGroup(subjectsGroup) {

      $.get(`${getSiteURL()}/api/get-subjects-in-subjects-group.php`, {
        id: subjectsGroup.id
      }).done(response => {
        const data = response.subjects_in_subjects_group;

        if (data == null) this.selectedSubjectsGroup.subjects = [];
        else this.selectedSubjectsGroup.subjects = data;

      }).fail(error => {
        console.log(error.responseJSON.message);
      });

    },


    saveSubjectInSubjectsGroup(subject) {

      $.post(`${getSiteURL()}/api/post-save-subjects-in-subjects-group.php`, {
        subject_id: subject.id,
        subjects_group_id: this.selectedSubjectsGroup.subjectsGroup.id,
      }).done(response => {

        const result = response.subject_in_subjects_group;

        const subjectId = result.subject_id

        $.get(`${getSiteURL()}/api/get-subject.php`, {
          id: subjectId
        }).done(response => {

          this.selectedSubjectsGroup.subjects.push(response.subject);
          this.fetchSubjectsInSubjectsGroup(this.selectedSubjectsGroup.subjectsGroup);

        }).fail(error => {

        });


      }).fail(error => {
        console.log(error.responseJSON.message);
      })

    },


    removeSubjectInSubjectsGroup(subject) {

      $.post(`${getSiteURL()}/api/delete-subject-in-subjects-group.php`, {
        subject_id: subject.id,
        subjects_group_id: this.selectedSubjectsGroup.subjectsGroup.id
      }).done(response => {

        this.fetchSubjectsInSubjectsGroup(this.selectedSubjectsGroup.subjectsGroup);

      }).fail(error => {
        console.log(error.responseJSON.message);
      })
    }


  }

}
</script>

<style scoped>

</style>