<template>

  <div>

    <div class="container">

      <div class="row">

        <div class="col-4">
          <AddSubjectsGroup :event-bus="eventBus"></AddSubjectsGroup>
        </div><!-- col -->

        <div class="col-8">
            <ListSubjectsGroups :event-bus="eventBus"></ListSubjectsGroups>
        </div><!-- col -->

      </div><!-- row -->

    </div><!-- container -->

  </div><!-- template -->

</template>

<script>

import AddSubjectsGroup from "./AddSubjectsGroup";
import ListSubjectsGroups from "./ListSubjectsGroups";
import Vue from "vue";

export default {
  name: "ManageSubjectsGroups",
  components: {AddSubjectsGroup, ListSubjectsGroups,},
  data() {
    return {

      eventBus: new Vue({}),

    }
  },

  mounted() {

  },

  computed: {},

  methods: {}

}
</script>

<style scoped>

</style>